.contributing {
    &__links-wrap {
        border: 1px solid #eee;
        background: #ffffff;
        float: right;
        position: relative;
        z-index: 1;
        padding: 10px 20px;
        color: #555;
        margin: 10px 0 10px 20px;
        font-size: 14px;
    }
    &__links {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li:before {
            content: '— ';
        }
    }
}
