.index {

    &__intro {
        box-sizing: border-box;
        margin: 40px auto 0;
        text-align: center;
    }

    &__logo {
        display: inline-block;
        width: 125px;
        height: 125px;
        background: url(./logo.svg);
    }

    &__title {
        font-size: 32px;
        font-weight: normal;
        margin: 24px 0 0;
    }

    &__menu {
        margin-top: 16px;
    }

    &__info {
        font-size: 18px;
        margin-top: 33px;
        color: #666;
    }

    &__badges {
        margin: 25px 0 0;
        list-style-type: none;
        padding: 0;
    }

    &__badge {
        display: inline-block;
        margin-bottom: 5px;
        & + & {
            margin-left: 5px;
        }
    }

    &__social-buttons {
        margin-top: 25px;
    }

    &__content {
        border-top: rgba(0,0,0,0.10) 1px solid;
        margin-top: 50px;
    }

    &__social {
        margin: 35px auto 0;
        box-sizing: border-box;
    }

    &__users-title, &__maintainers-title {
        color: #B3A436;
        font-weight: normal;
        font-size: 32px;
        margin: 0;
        padding: 0;
    }

    &__users {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 7px;
    }

    &__user {
        margin-top: 20px;
        margin-right: 30px;
        display: inline-block;
        min-width: 200px;
    }

    &__user-link {
        &, &:visited {
            color: #666;
        }
        font-size: 28px;
        font-weight: normal;
        font-family: Helvetica, Arial;
    }

    &__users-other {
        margin-top: 30px;
        color: #999;
        font-size: 18px;
    }

    &__maintainers-title {
        margin-top: 60px;
    }

    &__maintainers {
        list-style-type: none;
        padding: 0;
        margin: 52px 0 0;
        overflow: hidden;
    }

    &__maintainer {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding-right: 20px;
        min-width: 320px;
        margin-bottom: 70px;
        font-family: Helvetica, Arial, sans-serif;
    }

    &__maintainer-image {
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 28px;
    }

    &__maintainer-name {
        margin-top: 8px;
        font-size: 20px;
        a {
            &, &:visited {
                color: black;
            }
        }
    }

    &__maintainer-role {
        margin-top: 9px;
        font-size: 15px;
        color: #666;
    }

    &__maintainer-email {
        margin-top: 9px;
        font-size: 15px;
    }


    &__intro {
        width: 700px;
    }
    &__social {
        width: 1000px;
    }
    @media (max-width: 1050px) {
        &__social {
            width: 100%;
            padding: 0 50px;
        }
    }
    @media (max-width: 750px) {
        &__intro, &__social {
            width: 100%;
            padding: 0 50px;
        }
    }
    @media (max-width: 450px) {
        $padding = 15;

        &__intro {
            width: auto;
            text-align: left;
            padding: 0 $padding;
            margin: 0;
        }

        &__logo {
            float: left;
            margin-left: -($padding);
            height: 100px;
            width: 100px;
            background-size: 100% 100%;
        }

        &__title {
            font-size: 24px;
            box-sizing: border-box;
            height: 100px;
            padding: 15px 20px 0 120px;
            display: block;
            border-bottom: rgba(0, 0, 0, 0.10) 1px solid;
            margin: 0 -20px;
        }

        &__badges {
            display: none;
        }

        .menu_index {
            margin-top: 30px;
        }
        .menu_index__item {
            display: block;
            margin: 10px 0 0 0;
            font-size: 22px;
        }
        &__content {
            margin-top: 20px;
        }
        &__social {
            width: auto;
            padding: 0 20px;
        }
        &__users {
            margin-top: 30px;
        }
        &__user {
            margin: 10px 0;
            display: block;
        }
        &__users-other {
            margin-left: -($padding);
            margin-right: -($padding);
            padding-left: $padding;
            padding-bottom: 20px;
            border-bottom: rgba(0, 0, 0, 0.10) 1px solid;
        }
        &__maintainers-title {
            margin-top: 35px;
        }
        &__maintainers {
            margin-top: 32px;
        }
        &__maintainer {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}
