.search-bar {
    width: 100%;
    padding: 6px;
    font-size: 1.2em;
}

.rule-list {
    list-style-type: none;
    padding: 0;

    &__item {
        margin-left: 25px;
        &::before {
            content: '— ';
            position: absolute;
            margin-left: -25px;
        }
    }

    &__item-description {
        margin-top: -10px;
    }
}